
html {
  background-color: #f1f5f9;
  font-family: "Fira Sans",sans-serif;
  font-style: normal;
  --text: #f2e9ec;
--background: #0f080a;
--primary: #d3a7b5;
--secondary: #6c3143;
--accent: #c36c88;
    background-color: var(--background);
    color: var(--text);

}

h1 {
  font-size: 2.5rem;
  color: var(--text);
  font-weight: 100;
  font-size: 400%;
  text-decoration: underline;
  margin-left: 10%;

}
/*
body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
}

* {
  
}



a {
  color: var(--text);
  font-weight: 800;
  text-decoration: none;
  font-size: large;
}
*/