
html {
  background-color: #f1f5f9;
  font-family: "Roboto",sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  --text: #e5e9fd;
  --background: #03061d;
  --primary: #8197f3;
  --secondary: #800e95;
  --accent: #eb2ed2;
    background-color: var(--background);

}

body {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--text);
  font-weight: 100;
  font-size: 400%;
  text-decoration: underline;
}

a {
  color: var(--text);
  font-weight: 800;
  text-decoration: none;
  font-size: large;
}
