---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout pageTitle="About">
    <main>
        <h1>About Alec</h1>
        <p>Welcome to my portfolio! I'm a software developer and creator passionate about building beautiful and functional web experiences.</p>
    </main>
</Layout>

<style>
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 2rem 2rem 5%;
}
</style>