---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
const posts = Object.values(import.meta.glob("./blogs/*.md", { eager: true }));
---

<Layout pageTitle="Blogs">
  <h1>Blogs</h1>
  <div class="bloglist">
    <ul>
      {
        posts.map((post) => (
          <div class="post">
            <a href={post.url}>
              <li>
                <h3>{post.frontmatter.title}</h3>
                <p>{post.frontmatter.description}</p>
              </li>
            </a>
          </div>
        ))
      }
    </ul>
  </div>
</Layout>

<style>
  .bloglist {
    margin: 5% 15%;
    ul{
      list-style: none;
      width: 100%;
      grid-template-columns: auto auto auto;
      display: grid;
    };
    
    
  }
  
  .post {
    border: 2px solid var(--text);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 60%;
    h3{
      color: var(--text);
      text-align: center;
    }
    p{
      color: var(--text);
      text-align: center;
    }
  }
 
  
</style>
