---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
const posts = Object.values(import.meta.glob("./blogs/*.md", { eager: true }));
---

<Layout pageTitle="Blogs">
  <h1>Blogs</h1>
  <div class="bloglist">
      {
        posts.map((post) => (
          <div class="post">
            <a href={post.url}>
              <div class="innera">
              <h3>{post.frontmatter.title}</h3>
              <p>{post.frontmatter.description}</p>
              </div>
            </a>
          </div>
        ))
      }
  </div>
</Layout>

<style>
  .bloglist {
    margin: 5% 15%;
    grid-template-columns: auto auto auto;
    display: grid;
  }
  
  .post {
    border: 2px solid var(--text);
    border-radius: 5px;
    margin: 30px 30px;
    background-color: #201616;
       h3{
      color: var(--text);
      text-align: center;
    }
    p{
      color: var(--text);
      text-align: center;
    }
    a{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }
    .innera{
      margin: 10px;
    }
  }
  .post:hover{
    border: 8px solid var(--accent);
    margin: 24px 24px;
  }
 
  
</style>
