---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import BackgroundGrid from '../components/BackgroundGrid.astro';
---

<Layout pageTitle="Home">
    
    <main>
        <section class="hero">
            <h1>Alec's Portfolio</h1>
            <p class="subtitle">Coder Person and also Engineer</p>
        </section>
    </main>
<BackgroundGrid />
</Layout>

          

<style>
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 2rem 2rem 2rem;
}

.hero {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 0;
}

.hero h1 {
    font-size: 7rem;
    color: var(--text);
    font-weight: 300;
    letter-spacing: -1px;
    margin: 2rem 0 1rem 0;
    line-height: 0.7;
}
.hero h1:hover {
    
}


.subtitle {
    font-size: 2.5rem;
    color: var(--primary);
    font-weight: 300;
    margin: 0;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    
    .subtitle {
        font-size: 1.1rem;
    }
}


</style>