---
import '../styles/global.css'

---


<div class="headerbar">
    <div class="innerheaderbar">
    <a href="/alec.singer/">Home</a> | 
    <a href="/alec.singer/about">About</a> | 
    <a href="/alec.singer/blogs">Blogs</a>
    </div>
</div>

<style>

html{
    background-color: var(--background);
}
.headerbar{
    width: 100%;
    margin-top: 1%;
}
.innerheaderbar {
    margin-left: 80%;
    font-size: xx-large;
    font-weight: 400;
    text-align: center;
}
a{
    color: var(--text);
}

a:hover{
    color: var(--accent);
    text-shadow: 1px 0 0 currentColor;


</style>